.post_outline {
  border-bottom: 1px solid var(--twitter-background);
}

.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
  padding-left: 10px;

  flex-wrap: wrap;
}

.post__header {
  display: flex;
}

.post__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
}

.post__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post__footer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  min-width: fit-content;
  padding: 20px;
  padding-left: 60px;
  padding-right: 50px;
}

.post__favoriteIcon:hover{
    color:rgb(248, 37, 167);
    background-color: rgb(219, 172, 204);
    border-radius: 50px;
}


/* .post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
}

.post__body {
    padding: 10px;
}

.post__body > img {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.post__footer {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    min-width: fit-content;
    align-items: center;
    margin-top: 20px;   
}

.post__foot:hover{
    color:rgb(248, 37, 167);
    background-color: rgb(219, 172, 204);
    border-radius: 50px;
}

.post__headerDescription {
    margin: 10px;
    font-size: 15px;
}

.post__header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.post__headerText > h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.post__badge {
    font-size: 14px !important;
    color: var(--twitter-color);
}

.post__headerSpecial {
    font-weight: 600;
    font-size: 14px;
    color: gray;
}

.post__avatar {
    padding: 15px;
} */
